xsd/kv78-msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Copyright:	Dit document is eigendom van Platform BISON onder de Stichting Connekt,-->
<!--            wordt gepubliceerd onder de Creative Commons Licentie by-nd/3.0/nl, 	 -->
<!--            zie http://creativecommons.org/licences/by-nd/3.0/nl                   -->
<!-- Opmerking: XSD is gebaseerd op TMI8 koppelvlakken 7 en 8 versie 8.1.0.0	         -->
<!-- Version:   1.0 (release v8.1.0.0)   (26-05-2009)                                  -->
<!-- History:                                                                          -->
<!--          1.0: status naar release                   															 -->
<!--          0.8: versienummering naar v8.1.0.0, status pre-release                   -->
<!--          0.7: opmerking vanuit review verwerkt                                    -->
<!--          		 tabelnamen uitgeschreven (oa DEST = DESTINATION, etc.)							 -->
<!--          		 DestinationDetail19 en -24 toegevoegd in DESTINATION ovv GOVI       -->
<!--          0.6: opmerking vanuit review verwerkt                                    -->
<!--               gebruik geen afkortingen voor tagnames	                             -->
<!--               gebruik voorzover mogelijk geen numerieke waardes voor ENUM         -->
<!--               gebruik van standaard datum/tijd/boolean types voorzover mogelijk   -->
<!--               tmitijd formaat patroon selectiever gemaakt (00:00:00 t/m 31:59:59) -->
<!--          0.5: gebruik korte tagnames ipv lange tagnames                           -->
<!--               tripnumberType vervangen door journeynumberType                     -->
<!--          0.4: dossiers element vervangen door kv7* elementen                      -->
<!--               XSD volledig bijgewerkt volgens TMI8 document                       -->
<!-- 	0.1 t/m 0.3: initiele versie met aanpassing als gevolg van document aanpassingen -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tmi8="http://bison.connekt.nl/tmi8/kv7kv8/msg" xmlns:tmi8c="http://bison.connekt.nl/tmi8/kv7kv8/core" targetNamespace="http://bison.connekt.nl/tmi8/kv7kv8/msg" elementFormDefault="qualified">
	<xs:import namespace="http://bison.connekt.nl/tmi8/kv7kv8/core" schemaLocation="kv78-core.xsd"/>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- TMI KV7/8 messages                                                                -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="DRIS_TM_PUSH">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="tmi8:MessageProperties"/>
				<xs:element name="TimingPoint" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DataOwnerCode" type="tmi8:dataownercodeType"/>
							<xs:element name="TimingPointCode" type="tmi8:codeType"/>
							<xs:choice>
								<xs:element name="KV7planning" type="tmi8:KV7planningType" maxOccurs="unbounded"/>
								<xs:element name="KV7calendar" type="tmi8:KV7calendarType" maxOccurs="unbounded"/>
								<xs:element name="KV8passtimes" type="tmi8:KV8passtimesType" maxOccurs="unbounded"/>
								<xs:element name="KV8generalmessages" type="tmi8:KV8generalmessagesType" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DRIS_TM_REQ">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="tmi8:MessageProperties"/>
				<xs:element name="TimingPoint" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DataOwnerCode" type="tmi8:dataownercodeType"/>
							<xs:element name="TimingPointCode" type="tmi8:codeType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DRIS_TM_RES">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="tmi8:MessageProperties" minOccurs="0"/>
				<xs:element name="ResponseCode" type="tmi8:ResponseCodeType"/>
				<xs:element name="ResponseError" type="tmi8:ResponseErrorType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Dossiers: KV7planning/KV7calendar/KV8passtimes/KV8generalmessages                 -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:complexType name="KV7planningType">
		<xs:sequence>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>KV7planning</xs:documentation>
				</xs:annotation>
				<xs:element name="DATAOWNER" type="tmi8:DATAOWNERType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DESTINATION" type="tmi8:DESTINATIONType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DESTINATIONVIA" type="tmi8:DESTINATIONVIAType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="TIMINGPOINT" type="tmi8:TIMINGPOINTType"/>
				<xs:element name="USERTIMINGPOINT" type="tmi8:USERTIMINGPOINTType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="STOPAREA" type="tmi8:STOPAREAType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="LINE" type="tmi8:LINEType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="LOCALSERVICEGROUPPASSTIME" type="tmi8:LOCALSERVICEGROUPPASSTIMEType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="tmi8c:delimiter"/>
					<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KV7calendarType">
		<xs:sequence>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>KV7calendar</xs:documentation>
				</xs:annotation>
				<xs:element name="LOCALSERVICEGROUP" type="tmi8:LOCALSERVICEGROUPType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="LOCALSERVICEGROUPVALIDITY" type="tmi8:LOCALSERVICEGROUPVALIDITYType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="tmi8c:delimiter"/>
					<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KV8passtimesType">
		<xs:sequence>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>KV8passtimes</xs:documentation>
				</xs:annotation>
				<xs:element name="DATEDPASSTIME" type="tmi8:DATEDPASSTIMEType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="tmi8c:delimiter"/>
					<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KV8generalmessagesType">
		<xs:sequence>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>KV8generalmessages</xs:documentation>
				</xs:annotation>
				<xs:element name="GENERALMESSAGEUPDATE" type="tmi8:GENERALMESSAGEUPDATEType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="GENERALMESSAGEDELETE" type="tmi8:GENERALMESSAGEDELETEType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="tmi8c:delimiter"/>
					<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Calendar entities                                                                 -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:complexType name="LOCALSERVICEGROUPType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="localservicelevelcode" type="tmi8:codeType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCALSERVICEGROUPVALIDITYType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="localservicelevelcode" type="tmi8:codeType"/>
			<xs:element name="operationdate" type="tmi8:tmidateType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Planning entities                                                                 -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:complexType name="DATAOWNERType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="dataownertype" type="tmi8:dataownertypeType"/>
			<xs:element name="dataownername" type="tmi8:dataownernameType"/>
			<xs:element name="dataownercompanynumber" type="tmi8:companynumberType" minOccurs="0"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DESTINATIONType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="destinationcode" type="tmi8:codeType"/>
			<xs:element name="destinationname50" type="tmi8:destinationname50Type"/>
			<xs:element name="destinationname30" type="tmi8:destinationname30Type" minOccurs="0"/>
			<xs:element name="destinationname24" type="tmi8:destinationname24Type" minOccurs="0"/>
			<xs:element name="destinationname19" type="tmi8:destinationname19Type" minOccurs="0"/>
			<xs:element name="destinationname16" type="tmi8:destinationname16Type"/>
			<xs:element name="destinationdetail24" type="tmi8:destinationdetail24Type" minOccurs="0"/>
			<xs:element name="destinationdetail19" type="tmi8:destinationdetail19Type" minOccurs="0"/>
			<xs:element name="destinationdetail16" type="tmi8:destinationdetail16Type" minOccurs="0"/>
			<xs:element name="destinationdisplay16" type="tmi8:destinationdisplay16Type" minOccurs="0"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DESTINATIONVIAType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="destinationcodep" type="tmi8:codeType"/>
			<xs:element name="destinationcodec" type="tmi8:codeType"/>
			<xs:element name="destinationviaordernr" type="tmi8:destinationviaordernrType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LOCALSERVICEGROUPPASSTIMEType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="localservicelevelcode" type="tmi8:codeType"/>
			<xs:element name="lineplanningnumber" type="tmi8:lineplanningnumberType"/>
			<xs:element name="journeynumber" type="tmi8:journeynumberType"/>
			<xs:element name="fortifyordernumber" type="tmi8:fortifyordernumberType"/>
			<xs:element name="userstopcode" type="tmi8:codeType"/>
			<xs:element name="userstopordernumber" type="tmi8:userstopordernumberType"/>
			<xs:element name="linedirection" type="tmi8:linedirectionType"/>
			<xs:element name="destinationcode" type="tmi8:codeType"/>
			<xs:element name="targetarrivaltime" type="tmi8:tmitimeType"/>
			<xs:element name="targetdeparturetime" type="tmi8:tmitimeType"/>
			<xs:element name="sidecode" type="tmi8:codeType"/>
			<xs:element name="wheelchairaccessible" type="tmi8:wheelchairaccessibleType"/>
			<xs:element name="journeystoptype" type="tmi8:journeystoptypeType"/>
			<xs:element name="istimingstop" type="tmi8:tmibooleanType"/>
			<xs:element name="productformulatype" type="tmi8:productformulatypeType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LINEType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="lineplanningnumber" type="tmi8:lineplanningnumberType"/>
			<xs:element name="linepublicnumber" type="tmi8:linepublicnumberType"/>
			<xs:element name="linename" type="tmi8:name50Type"/>
			<xs:element name="linevetagnumber" type="tmi8:linevetagnumberType"/>
			<xs:element name="transporttype" type="tmi8:transporttypeType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STOPAREAType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="stopareacode" type="tmi8:codeType"/>
			<xs:element name="stopareaname" type="tmi8:name50Type"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TIMINGPOINTType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="timingpointcode" type="tmi8:codeType"/>
			<xs:element name="timingpointname" type="tmi8:name50Type"/>
			<xs:element name="timingpointtown" type="tmi8:name50Type"/>
			<xs:element name="stopareacode" type="tmi8:codeType" minOccurs="0"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="USERTIMINGPOINTType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="userstopcode" type="tmi8:codeType"/>
			<xs:element name="timingpointdataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="timingpointcode" type="tmi8:codeType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Passtimes entities                                                                -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:complexType name="DATEDPASSTIMEType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="operationdate" type="tmi8:tmidateType"/>
			<xs:element name="lineplanningnumber" type="tmi8:lineplanningnumberType"/>
			<xs:element name="journeynumber" type="tmi8:journeynumberType"/>
			<xs:element name="fortifyordernumber" type="tmi8:fortifyordernumberType"/>
			<xs:element name="userstopordernumber" type="tmi8:userstopordernumberType"/>
			<xs:element name="userstopcode" type="tmi8:codeType"/>
			<xs:element name="localservicelevelcode" type="tmi8:codeType"/>
			<xs:element name="linedirection" type="tmi8:linedirectionType"/>
			<xs:element name="lastupdatetimestamp" type="tmi8:tmidatetimeType"/>
			<xs:element name="destinationcode" type="tmi8:codeType"/>
			<xs:element name="istimingstop" type="tmi8:tmibooleanType"/>
			<xs:element name="expectedarrivaltime" type="tmi8:tmitimeType"/>
			<xs:element name="expecteddeparturetime" type="tmi8:tmitimeType"/>
			<xs:element name="tripstopstatus" type="tmi8:tripstopstatusType"/>
			<xs:sequence minOccurs="0">
				<xs:element name="messagecontent" type="tmi8:contentType"/>
				<xs:element name="messagetype" type="tmi8:journeymessagetypeType"/>
			</xs:sequence>
			<xs:element name="sidecode" type="tmi8:codeType"/>
			<xs:element name="numberofcoaches" type="tmi8:numberofcoachesType" minOccurs="0"/>
			<xs:element name="wheelchairaccessible" type="tmi8:wheelchairaccessibleType"/>
			<xs:element name="operatorcode" type="tmi8:dataownercodeType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="reasontype" type="tmi8:sirisxcategoryType"/>
				<xs:element name="subreasontype" type="tmi8:sirisxcodeType"/>
			</xs:sequence>
			<xs:element name="reasoncontent" type="tmi8:contentType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="advicetype" type="tmi8:sirisxcategoryType"/>
				<xs:element name="subadvicetype" type="tmi8:sirisxcodeType"/>
			</xs:sequence>
			<xs:element name="advicecontent" type="tmi8:contentType" minOccurs="0"/>
			<xs:element name="timingpointdataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="timingpointcode" type="tmi8:codeType"/>
			<xs:element name="journeystoptype" type="tmi8:journeystoptypeType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- General messages entities                                                         -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:complexType name="GENERALMESSAGEUPDATEType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="messagecodedate" type="tmi8:tmidateType"/>
			<xs:element name="messagecodenumber" type="tmi8:messagecodenumType"/>
			<xs:element name="timingpointdataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="timingpointcode" type="tmi8:codeType"/>
			<xs:element name="messagetype" type="tmi8:generalmessagetypeType"/>
			<xs:element name="messagedurationtype" type="tmi8:messagedurationtypeType"/>
			<xs:element name="messagestarttime" type="tmi8:tmidatetimeType"/>
			<xs:element name="messageendtime" type="tmi8:tmidatetimeType" minOccurs="0"/>
			<xs:element name="messagecontent" type="tmi8:contentType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="reasontype" type="tmi8:sirisxcategoryType"/>
				<xs:element name="subreasontype" type="tmi8:sirisxcodeType"/>
			</xs:sequence>
			<xs:element name="reasoncontent" type="tmi8:contentType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="effecttype" type="tmi8:sirisxcategoryType"/>
				<xs:element name="subeffecttype" type="tmi8:sirisxcodeType"/>
			</xs:sequence>
			<xs:element name="effectcontent" type="tmi8:contentType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="measuretype" type="tmi8:sirisxcategoryType"/>
				<xs:element name="submeasuretype" type="tmi8:sirisxcodeType"/>
			</xs:sequence>
			<xs:element name="measurecontent" type="tmi8:contentType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="advicetype" type="tmi8:sirisxcategoryType"/>
				<xs:element name="subadvicetype" type="tmi8:sirisxcodeType"/>
			</xs:sequence>
			<xs:element name="advicecontent" type="tmi8:contentType" minOccurs="0"/>
			<xs:element name="messagetimestamp" type="tmi8:tmidatetimeType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GENERALMESSAGEDELETEType">
		<xs:sequence>
			<xs:element name="dataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="messagecodedate" type="tmi8:tmidateType"/>
			<xs:element name="messagecodenumber" type="tmi8:messagecodenumType"/>
			<xs:element name="timingpointdataownercode" type="tmi8:dataownercodeType"/>
			<xs:element name="timingpointcode" type="tmi8:codeType"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tmi8c:delimiter"/>
				<xs:any namespace="##targetNamespace ##local" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Message property types                                                            -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:group name="MessageProperties">
		<xs:sequence>
			<xs:element name="SubscriberID" type="tmi8:SubscriberIDType"/>
			<xs:element name="Version" type="tmi8:VersionType"/>
			<xs:element name="DossierName" type="tmi8:DossierNameType"/>
			<xs:element name="Timestamp" type="tmi8:TimestampType"/>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="DossierNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KV7calendar"/>
			<xs:enumeration value="KV7planning"/>
			<xs:enumeration value="KV8passtimes"/>
			<xs:enumeration value="KV8generalmessages"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriberIDType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimestampType">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ResponseCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="SE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponseErrorType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Common entity types                                                               -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:simpleType name="dataownercodeType">
		<xs:annotation id="E1">
			<xs:documentation xml:lang="nl">
	Een en ander bepaalt volgens BISON enumeratie E1. 
	Op dit moment bekende waardes zijn: 
		Vervoerders: ARR, VTN, CXX, GVB, HTM, NS, RET, SYNTUS, QBUZZ, TCR, 
		Integrators:  ALGEMEEN, GOVI, RIG, SABIMOS, PRORAIL 
		maar elke waarde is toegestaan
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmibooleanType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="tmitimeType">
		<xs:annotation>
			<xs:documentation>Format: HH:MM:SS / H:MM:SS accepted values : 00:00:00 - 31:59:59</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="7"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="(0|1|2|3|4|5|6|7|8|9|00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31):[012345][0123456789]:[012345][0123456789]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmidateType">
		<xs:annotation>
			<xs:documentation>Format: YYYY-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			<!--
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmidatetimeType">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Planning entity types                                                             -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:simpleType name="dataownertypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALG"/>
			<xs:enumeration value="COPR"/>
			<xs:enumeration value="PUCO"/>
			<xs:enumeration value="ROOW"/>
			<xs:enumeration value="SUCO"/>
			<xs:enumeration value="INT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="transporttypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRAIN"/>
			<xs:enumeration value="BUS"/>
			<xs:enumeration value="METRO"/>
			<xs:enumeration value="TRAM"/>
			<xs:enumeration value="BOAT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="wheelchairaccessibleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACCESSIBLE"/>
			<xs:enumeration value="NOTACCESSIBLE"/>
			<xs:enumeration value="UNKNOWN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="journeystoptypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIRST"/>
			<xs:enumeration value="INTERMEDIATE"/>
			<xs:enumeration value="LAST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productformulatypeType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataownernameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="name50Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="companynumberType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationname50Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationname30Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationname24Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationname19Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationname16Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationdetail24Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationdetail19Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationdetail16Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationdisplay16Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationviaordernrType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fortifyordernumberType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numberofcoachesType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="journeynumberType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userstopordernumberType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linevetagnumberType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lineplanningnumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linepublicnumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linedirectionType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tripstopstatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PLANNED"/>
			<xs:enumeration value="UNKNOWN"/>
			<xs:enumeration value="DRIVING"/>
			<xs:enumeration value="ARRIVED"/>
			<xs:enumeration value="PASSED"/>
			<xs:enumeration value="CANCEL"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- General messages entity types                                                     -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:simpleType name="messagecodenumType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="journeymessagetypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DESTOVER"/>
			<xs:enumeration value="DESTALTER"/>
			<xs:enumeration value="JOURNALTER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="generalmessagetypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GENERAL"/>
			<xs:enumeration value="ADDITIONAL"/>
			<xs:enumeration value="OVERRULE"/>
			<xs:enumeration value="BOTTOMLINE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messagedurationtypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REMOVE"/>
			<xs:enumeration value="FIRSTVEJO"/>
			<xs:enumeration value="ENDTIME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contentType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sirisxcategoryType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sirisxcodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="[\d|_]+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
</xs:schema>
